<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="/plugins/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet">

    <script src="/plugins/datatables/media/js/jquery.dataTables.js"></script>
    <script src="/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>

    <script type="text/javascript">
        $(function(){

            // DATA TABLES
            // =================================================================
            // Require Data Tables
            // -----------------------------------------------------------------
            // http://www.datatables.net/
            // =================================================================

            $.fn.DataTable.ext.pager.numbers_length = 10;

            // Basic Data Tables with responsive plugin
            // -----------------------------------------------------------------
            $('#demo-dt-basic').dataTable( {
                "serverSide": true,
                "ajax": "/manage/showList",
                "responsive": true,
                "language": {
                    "paginate": {
                        "previous": '<i class="demo-psi-arrow-left"></i>',
                        "next": '<i class="demo-psi-arrow-right"></i>'
                    }
                },
               columns: [
                   { data: 'realName',name:"realName",searchable:true },
                   { data: 'nickName',name:"nickName",searchable:true },
                   { data: 'idCardNum',name:"idCardNum",searchable:true },
                   { data: 'telephoneNum',name:"telephoneNum",searchable:true },
                   { data: 'wechatNum',name:"wechatNum",searchable:true },
                   { data: 'createDate',name:"createDate",searchable:true }
               ]
            });
        });

    </script>
</head>
<body>


<!-- Basic Data Tables -->
<!--===================================================-->
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">客户信息列表</h3>
    </div>
    <div class="panel-body">
        <table id="demo-dt-basic" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>姓名</th>
                <th>昵称</th>
                <th class="min-tablet">身份证号</th>
                <th class="min-tablet">手机号码</th>
                <th class="min-desktop">微信号</th>
                <th class="min-desktop">创建时间</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

</body>
</html>